# Created by .ignore support plugin (hsz.mobi)
### Terraform template
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

.idea/
infrastructure/tf-stack/development/terraform.tfstate.*.backup

.DS_Store

!/infrastructure/terraform/shiny_proxy/app_lb.tf

